body {
  margin:0;
}
a {
  color: black;
  text-decoration: none;;
}

/*HEADER*/
.title {
  background-color: black;
  width: 166px;
  padding-left:5%;
  font-size: xx-large;
  text-align: right;
}
.title a {
  color:white;
}
.navigation {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
.link {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  border-right: 2px solid black;
}



.image-gallery {
  margin: 5px;
}

/* MODAL STUFF - COPIED AND I HAVE NO CLUE WHAT THEY DO */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    object-fit:contain;
    width: 33%;
    height: calc(33vw * 0.66);
    margin: 2x 0;
    /* with margin but the pictures had their own whitespace
    width: calc(33% - 20px);
    margin: 10px;
    */
  }
  @media only screen and (max-width: 900px) {
    #myImg {
      width: 50%;
      height: calc(50vw * 0.66);
    }
  }
    @media only screen and (max-width: 700px) {
      #myImg {
        width: 100%;
        height: calc(100vw * 0.66);
      }
    }
  
  #myImg:hover {
    opacity: 0.7;
  }
  
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
  }
  
  .modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content,
  #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    height:100%;
    width:100%;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: default;
  }
  
  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }